nameOverride: "apibuilder-generator"
fullnameOverride: "apibuilder-generator"

team: foundation

iamRole: arn:aws:iam::479720515435:role/ecsInstanceRole
image:
  repository: flowcommerce/apibuilder-generator

resources:
  limits:
    memory: "3400Mi"
    cpu: 1
  requests:
    memory: "3400Mi"
    cpu: .05

jvmOpts:
  memory: 3000m

istioIngress:
  enabled: true
  gateways:
    - key: generator-apibuilder-io
      tld: apibuilder.io
      dns: true
      hosts:
        - generator.apibuilder.io
    - key: apibuilder-generator-flow-pub
      tld: flo.pub
      dns: true
      hosts:
        - apibuilder-generator.flo.pub

istioService:
  live:
    hosts:
      - apibuilder-generator
      - generator.apibuilder.io
      - apibuilder-generator.flo.pub
    gateways:
      - mesh
      - generator-apibuilder-io
      - apibuilder-generator-flow-pub
    stages:
      - deployment: live
        weight: 100

deployments:
  live:
    minReplicas: 2
    maxReplicas: 2
    maxUnavailable: 1

rolloutResource:
  enabled: false

canary:
  enabled: false
