example-union-types/api/logs
example-union-types-discriminator/api/logs
generator/logs
example-union-types/api/target
example-union-types/generated/target
example-union-types/project/project/target
example-union-types/project/target
example-union-types/target
example-union-types-discriminator/api/target
example-union-types-discriminator/generated/target
example-union-types-discriminator/project/project/target
example-union-types-discriminator/project/target
example-union-types-discriminator/target
generated/target
generator/target
java-generator/target
lib/target
project/project/target
project/target
ruby-generator/target
scala-generator/target
kotlin-generator/target
target
.git
.ivy2
*.swp
*.swo
.DS_STORE
*.md
!README.md
